<!-- {% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% for link in site.data.navigation.main %}
                {% if link.children %}
                  <li class="masthead__menu-item dropdown">
                    <a href="#">{{ link.title }}</a>
                    <ul class="dropdown-content">
                      {% for child in link.children %}
                        <li><a href="{{ base_path }}{{ child.url }}">{{ child.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  {% if link.url contains 'http' %}
                    {% assign domain = '' %}
                  {% else %}
                    {% assign domain = base_path %}
                  {% endif %}
                  <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
            {% endfor %}

          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div> -->

{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>

          {% for link in site.data.navigation.main %}
            {% if link.children %}
              <li class="masthead__menu-item dropdown">
                <a href="#">{{ link.title }}</a>
                <ul class="dropdown-content">
                  {% for child in link.children %}
                    <li><a href="{{ base_path }}{{ child.url }}">{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item">
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
